* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

html,
body,
#container {
  margin: 0;
  font-size: 1em;
}

html {
  background-image: url(img/Contactbg.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  height: 100%;
}

#container {
  width: 90%;
  height: auto;
  margin: 30px auto;
  padding: 30px auto;
}

#top_buttons {
  height: 83px;
}

#home {
  float: left;
}

#home:hover,
#menu:hover {
  opacity: 0.6;
}

#menu {
  float: right;
  position: relative;
  z-index: 1;
}

#contents {
  position: relative;
  width: 75%;
  margin-top: 8%;
  margin-left: 15%;
  margin-right: auto;
  text-align: left;
  display: flex;
  column-gap: 16%;
}

#left {
  float: left;
  flex: 55%;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 6px solid #ffffff;
  border-image: linear-gradient(to right, #ffffff 18%, transparent 8%) 100% 0;
  font: normal normal 900 4.8em/120px Lato;
  letter-spacing: 0px;
}

p {
  margin-top: 44px;
  padding-top: 0px;
  text-align: left;
  font: normal normal normal 1.06em/22px Lato;
}

#left img {
  margin-top: 40px;
  margin-right: 29px;
}

#left img:hover {
  opacity: 0.6;
  cursor: default;
}

#right {
  float: right;
  flex: 45%;
}

form {
  width: 80%;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
  width: 100%;
  padding: 11px 0 11px 0;
  margin-bottom: 30px;
  border: 1px solid #ffffff61;
  background-color: transparent;
  border-radius: 4px;
  font: normal normal normal 16px/24px Lato;
  letter-spacing: 0.15px;
  color: #ffffff99;
  padding-left: 13px;
}

#form textarea {
  resize: none;
  height: 250px;
}

.button {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 60%;
  font: normal normal normal 16px/24px Lato;
  letter-spacing: 0.15px;
  color: #ffffff;
  padding: 11px 0 11px 0;
  display: flex;
  float: right;
  justify-content: center;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}

#footer {
  position: fixed;
  text-align: center;
  bottom: -25px;
  width: 90%;
  height: 14%;
}

#myPlayer {
  display: none;
}

audio {
  position: relative;
  margin: 0;
  padding: 0;
  top: 50px;
  bottom: 0;
}

#music_player img {
  margin: 0px 5px 0px 5px;
}

.vol_bar,
.vol_mute {
  position: relative;
  bottom: 15px;
}

div#menuContainer {
  z-index: 0;
  position: fixed;
  right: 0px;
  top: 0px;
  border: 1px solid black;
  height: 100%;
  width: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

#menuContainer #menuItem {
  position: relative;
  list-style: none;
  padding-top: 100px;
  z-index: 0;
}

#menuContainer ul li {
  font: normal normal normal 1.06em/22px Lato;
  position: relative;
  padding-left: 15px;
  margin: 12px;
}
#menuContainer ul li a:hover {
  opacity: 0.6;
  cursor: default;
}
#menuContainer ul li a {
  text-decoration: none;
  color: #ffffff;
}

.active {
  display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) and (max-height: 900px) {
  body {
    overflow: auto;
  }
  h1 {
    font-size: 6vw;
  }
  p {
    width: 80%;
    font-size: 1.1em;
  }
  #contents {
    width: 80%;
    display: block;
  }
  #left {
    float: none;
    width: 100%;
    flex: none;
  }
  #right {
    float: none;
    width: 100%;
    flex: none;
    margin: 30px 0 90px 0;
  }
  audio {
    top: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    overflow: auto;
  }
  h1 {
    font-size: 3.8em;
  }
  p {
    width: 100%;
    font-size: 1em;
  }
  #contents {
    position: relative;
    display: block;
    width: 85%;
    margin-left: 8%;
  }
  #left {
    float: none;
    width: 100%;
    flex: none;
  }
  #right {
    float: none;
    width: 100%;
    flex: none;
    margin: 30px 0 90px 0;
  }
  form {
    width: 100%;
  }
  audio {
    top: 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    overflow: auto;
  }
  #top_buttons #home {
    scale: 0.75;
  }
  .mainTitle {
    padding-top: 75px;
    margin-block-start: 0.2em;
    font-size: 3.5em;
  }
  p {
    font: normal normal normal 14px/22px Lato;
    width: 100%;
  }
  #contents {
    display: contents;
    margin: auto;
    justify-items: center;
  }
  audio {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  body {
    overflow: auto;
  }
  #top_buttons #home {
    scale: 0.75;
  }
  #top_buttons #menu {
    margin-top: 20px;
  }
  .mainTitle {
    padding-top: 25px;
    margin-block-start: 0.2em;
    font-size: 3em;
  }
  p {
    font: normal normal normal 14px/22px Lato;
    width: 100%;
  }
  #contents {
    display: contents;
    margin: auto;
    justify-items: center;
  }
  #left img {
    margin: 40px 20px;
  }
  #social {
    text-align: center;
  }
  form {
    width: 100%;
  }
  .button {
    width: 60%;
    float: none;
    margin: auto;
  }
  audio {
    display: none;
  }
}
